# The World Happiness Report Analysis - Cleaning Data

## Table of Contents  
### 01. Import  Libraries  
### 02. Import Dataframes  
### 03. Data Wrangling  
 Adding new Columns  
 Changing Column Names 
### 04. Merge Dataframes 
### 05. Data Cleaning and Consistency Checks 
 Mixed-Type Values    
 Checking for Missing Values  
 Checking for Duplicates  
 Descriptive Statistics 
### 06. Export Data

## 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Importing Dataframes

In [2]:
# Assign Path
path = r'C:\Users\clany\OneDrive\Documents\CareerFoundry\Chap 6_Sourcing Open Data\World Happiness Analysis\02 Data'

In [3]:
# Import WHR_xxxx.csv data sets as wh_xxxx dataframes 
wh_2015 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2015.csv'), index_col = False)
wh_2016 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2016.csv'), index_col = False)
wh_2017 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2017.csv'), index_col = False)
wh_2018 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2018.csv'), index_col = False)
wh_2019 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2019.csv'), index_col = False)
wh_2020 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2020.csv'), index_col = False)
wh_2021 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2021.csv'), index_col = False)
wh_2022 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2022.csv'), index_col = False)
wh_2023 = pd.read_csv(os.path.join(path, 'Original Data', 'WHR_2023.csv'), index_col = False)

## 03. Data Wrangling

In [4]:
# Show rows and columns of all dataframes
print(wh_2015.shape)
print(wh_2016.shape)
print(wh_2017.shape)
print(wh_2018.shape)
print(wh_2019.shape)
print(wh_2020.shape)
print(wh_2021.shape)
print(wh_2022.shape)
print(wh_2023.shape)

(158, 9)
(157, 9)
(155, 9)
(156, 9)
(156, 9)
(153, 9)
(149, 9)
(146, 9)
(137, 9)

In [5]:
# Check Column names
print(wh_2015.columns)
print(wh_2016.columns)
print(wh_2017.columns)
print(wh_2018.columns)
print(wh_2019.columns)
print(wh_2020.columns)
print(wh_2021.columns)
print(wh_2022.columns)
print(wh_2023.columns)

Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')
Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')

In [6]:
# Show header
wh_2015.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [7]:
# Show header 2016
wh_2016.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Denmark,Western Europe,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453
1,Switzerland,Western Europe,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203
2,Iceland,Western Europe,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975
3,Norway,Western Europe,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776
4,Finland,Western Europe,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004

In [8]:
# Show header 2017
wh_2017.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Norway,Western Europe,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,Western Europe,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,Western Europe,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,Western Europe,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,Western Europe,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [9]:
# Show header 2018
wh_2018.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [10]:
# Show header 2019
wh_2019.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [11]:
# Show header 2020
wh_2020.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [12]:
# Show header 2021
wh_2021.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384

In [13]:
# Show header 2022
wh_2022.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,Denmark,Western Europe,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,Iceland,Western Europe,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,Switzerland,Western Europe,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,Netherlands,Western Europe,7.415,1.945,1.206,0.787,0.651,0.271,0.419

In [14]:
# Show header 2023
wh_2023.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.804,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,Western Europe,7.586,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,Western Europe,7.530,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,Middle East and North Africa,7.473,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,Western Europe,7.403,1.942,1.488,0.545,0.672,0.251,0.394

In [15]:
# Creating a new Year column for each dataframe: required before the merge of all dfs into one
wh_2015['year'] = '2015'
wh_2016['year'] = '2016'
wh_2017['year'] = '2017'
wh_2018['year'] = '2018'
wh_2019['year'] = '2019'
wh_2020['year'] = '2020'
wh_2021['year'] = '2021'
wh_2022['year'] = '2022'
wh_2023['year'] = '2023'

In [16]:
# Checking the result of adding a new year column
wh_2022.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Finland,Western Europe,7.821,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,Denmark,Western Europe,7.636,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,Iceland,Western Europe,7.557,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,Switzerland,Western Europe,7.512,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,Netherlands,Western Europe,7.415,1.945,1.206,0.787,0.651,0.271,0.419,2022

In [17]:
# Create a new column ´Overall rank´
# First: Make sure that all the happiness_score values are in descending order
wh_2015 = wh_2015.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2016 = wh_2016.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2017 = wh_2017.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2018 = wh_2018.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2019 = wh_2019.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2020 = wh_2020.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2021 = wh_2021.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2022 = wh_2022.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)
wh_2023 = wh_2023.sort_values(by = 'happiness_score', ascending=False).reset_index(drop=True)

In [18]:
# Second part: create a new overall_rank column
wh_2015['overall_rank'] = wh_2015.index + 1
wh_2016['overall_rank'] = wh_2016.index + 1
wh_2017['overall_rank'] = wh_2017.index + 1
wh_2018['overall_rank'] = wh_2018.index + 1
wh_2019['overall_rank'] = wh_2019.index + 1
wh_2020['overall_rank'] = wh_2020.index + 1
wh_2021['overall_rank'] = wh_2021.index + 1
wh_2022['overall_rank'] = wh_2022.index + 1
wh_2023['overall_rank'] = wh_2023.index + 1

In [19]:
# Checking randomly the result of adding a new overall_rank column
wh_2018.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,overall_rank
0,Finland,Western Europe,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,1
1,Norway,Western Europe,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,2
2,Denmark,Western Europe,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,3
3,Iceland,Western Europe,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,4
4,Switzerland,Western Europe,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,5

## 04. Merge all Dataframes into one

In [39]:
# Concatenate data
wh_all2 = pd.concat([wh_2015, wh_2016, wh_2017, wh_2018, wh_2019, wh_2020, wh_2021, wh_2022, wh_2023])
print(wh_all.shape)
wh_all2.head()

(1367, 11)

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,overall_rank
0,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015,1
1,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015,2
2,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015,3
3,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015,4
4,Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015,5

## 05. Data Cleaning and Consistency Checks

#### Check mixed data types

In [40]:
# Check Data Types
wh_all2.dtypes

country                          object
region                           object
happiness_score                 float64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
year                             object
overall_rank                      int64
dtype: object

In [41]:
# Check for mixed types
for col in wh_all2.columns.tolist():
  weird = (wh_all2[[col]].map(type) != wh_all2[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_all2[weird]) > 0:
    print (col)

In [49]:
# Change 'year' data type
wh_all2['year'] = wh_all2['year'].astype(int)

In [50]:
# Check Data Types
wh_all2.dtypes

country                          object
region                           object
happiness_score                 float64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
year                              int32
overall_rank                      int64
dtype: object

#### Check missing values

In [51]:
# Check for missing values
wh_all2.isnull().sum()

country                         0
region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         1
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       1
year                            0
overall_rank                    0
dtype: int64

In [52]:
# Check the missing values
wh_all2[wh_all2['healthy_life_expectancy'].isna()]

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,overall_rank
98,State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023,99

In [57]:
# check missing value occurance
wh_all2[wh_all2.index == 'State of Palestine']

Empty DataFrame
Columns: [country, region, happiness_score, gdp_per_capita, social_support, healthy_life_expectancy, freedom_to_make_life_choices, generosity, perceptions_of_corruption, year, overall_rank]
Index: []

In [60]:
print(wh_all2.columns)

Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'year', 'overall_rank'],
      dtype='object')

In [61]:
# Check the missing values
wh_all2[wh_all2['healthy_life_expectancy'].isna()]

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,overall_rank
98,State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023,99

In [68]:
# Check next missinng value
wh_all2[wh_all2['perceptions_of_corruption'].isna()]

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,overall_rank
19,United Arab Emirates,Middle East and North Africa,6.774,2.096,0.776,0.67,0.284,0.186,NaN,2018,20

I am not dropping the NaN data, there are only two missing values in the entire dataframe: deleting the entire rows might interfer in the analysis. Will use the NaN as a flag.

#### Check Duplicate Values

In [70]:
# Check for duplicates
wh_all_dups = wh_all2[wh_all2.duplicated()]
wh_all_dups

Empty DataFrame
Columns: [country, region, happiness_score, gdp_per_capita, social_support, healthy_life_expectancy, freedom_to_make_life_choices, generosity, perceptions_of_corruption, year, overall_rank]
Index: []

#### Descriptive Statistics

In [71]:
# Descriptive Statistics 
wh_all2.describe()

,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year,overall_rank
count,1367.000000,1367.000000,1367.000000,1366.000000,1367.000000,1367.000000,1366.000000,1367.000000,1367.000000
mean,5.441086,1.019422,1.045334,0.584043,0.450771,0.196260,0.132275,2018.903438,76.580834
std,1.117909,0.453703,0.331163,0.245117,0.156733,0.113301,0.112555,2.561006,44.088830
min,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000,1.000000
25%,4.599500,0.696326,0.832022,0.402301,0.356000,0.115000,0.056826,2017.000000,38.500000
50%,5.440000,1.043000,1.083000,0.612830,0.467610,0.182700,0.097000,2019.000000,76.000000
75%,6.256300,1.338473,1.299985,0.777614,0.568685,0.252858,0.165945,2021.000000,114.000000
max,7.842000,2.209000,1.644000,1.141000,0.772000,0.838075,0.587000,2023.000000,158.000000

## 06. Export Data

In [72]:
# Export cleaned and merged dataframe
wh_all2.to_csv(os.path.join(path, 'Prepared Data', 'World_Happiness_All.csv'), index=False)